body{
    background-image: url(/image/background.svg);
    
}
.welcome{
    font-family: cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.board_table{
    border: 2px solid;
}
.board_table td{
    padding: 10px;
    border: 5px solid;
    background-color: white;
    width: 55px;
    height: 55px;
}
.board{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* .board_table .r1>td ,.r2>td{
    background-color: #ffe4c3;
}
.board_table .r4>td ,.r5>td{
    background-color: #5f9ea0;
} */


.board_table td:hover{
    background-color: aqua;
}
.text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#text_box{
    font-size: large;
}
#btn{
    background-color: black;
    width: 150px;
    height: 40px;
    color: aliceblue;
    font-size: medium;
}
#btn:hover{
    background-color: blue;
}
