body{
    background-image: url(/image/background.svg);
    
}
.welcome{
    font-family: cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left:20%;
    /* text-align: center; */
}
/* .board_table{
    border: 8px solid;
    border-radius: 20px;
    border-color: saddlebrown;
} */
.board_table td{
    padding: 10px;
    border: 5px solid;
    border-radius: 20px;
    background-color: white;
    width: 55px;
    height: 55px;
}
.board{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left:20%;
}
/* .board_table .r1>td ,.r2>td{
    background-color: #ffe4c3;
}
.board_table .r4>td ,.r5>td{
    background-color: #5f9ea0;
} */


.board_table td:hover{
    border-color: aqua;
}
.text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    
    
}
.text h3{
    margin-left: 20%;
}
#text_box{
    font-size: large;
}
.c-box{
    width:60%;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
}

#btn{
    background-color: black;
    width: 150px;
    height: 40px;
    color: aliceblue;
    font-size: medium;
    border-radius: 10px;
    margin-left: 20%;
}
#btn:hover{
    background-color: brown;
}


.player-btn{
    width: 50%;
    padding-inline-start: 10%;
}
#player1, #player2{
    background-color: black;
    width: 150px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    font-size: medium;
}
#player1:hover{
    background-color: brown;
}
#player2:hover{
    background-color: brown;
}
#player1-active,#player2-active{
    background-color:brown;
    width: 150px;
    height: 40px;
    color: aliceblue;
    border-radius: 10px;
    font-size: medium;
}
#player1-active:hover{
    background-color: black;
}
#player2-active:hover{
    background-color: black;
}

